@font-face {
    font-family: "Rari";
    src: url(../resources/fonts/Altheria-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

@import './sections/header';
@import './sections/main-index';
@import './sections/footer';
@import './sections/fragancias';
@import './sections/preguntas-frecuentes';
@import './sections/carrito';
@import './sections/contacto';



