main {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main {
    background-color: #edede8;
    background-size: cover;

    .hero {
        width: 1444px;
        height: 700px;
    }

    .iframe-div {
        display: flex;
        height: 400px;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin: 30px 0;

        .h2-main {
            margin-top: 10px;
            border-radius: 5px;
            padding: 0 8px;
        }

    }

    .oferta {
        display: flex;
        justify-content: space-around;

        .of1 {
            display: flex;
            flex-direction: column;
            align-items: center;

            .price {
                color: #000000;
                background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
                background-size: cover;
                color: rgb(255, 255, 255);
                margin: 10px 0;
            }
        }

        .btn2 {
            border-radius: 5px;
            color: rgb(255, 255, 255);
            background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
            padding: 5px;
        }

        .hover2:hover {
            color: #f4c537;
        }
    }

    .perf-banner {
        display: flex;
        margin: 50px 0;

        .banner {
            width: auto;

        }

    }

    .main-pd-bot {
        padding-bottom: 20px;
    }

}

main img {
    margin: auto;
}

.of1 img {
    width: 190px;
    padding: 40px;
    background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
    background-size: cover;
}

h3 {
    border-radius: 5px;
    padding: 3px;
    background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
    background-size: cover;
    color: rgb(255, 255, 255);
}

@media (max-width:1025px) {
    .main{
        .hero{
            width:1024px;
            height: auto;
        }
        .perf-banner{
            .banner{
                width: 1024px;
                height: auto;
            }

        }
    }
    .main h3{
        text-align: center;
        margin: 10px;
    }
}

@media (max-width:769px) {
    .main{
        .hero{
            width: 768px;
            height: auto;
        }
        .h2-main{
            text-align: center;
        }
        .oferta{
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: auto;
            .of1{
                margin: 5px 0;
            }
        }
        .perf-banner{
           .banner{
            width: 768px;
            height: auto;
        } 
        } 
    }
}

@media (max-width:426px) {
    .main {
        .hero {
            width: 425px;
            height: 230px;
        }

        .iframe-div {
            margin: auto;

            .h2-main {
                margin: 10px 30px;
                text-align: center;
            }
        }

        .oferta {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: auto;
        }

        .perf-banner .banner {
            width: 425px;
            height: 110px;
        }
    }

    h3 {
        margin-top: 5px;
    }

    .iframe-div iframe {
        width: 420px;
    }
}